* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.card {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.accordion {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.5rem;

  width: 40rem;
}

.faq-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-btn {
  background-color: #fff;
  border: none;
  text-align: left;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.icon-arrow {
  width: 10px;
  height: 7px;
}

.info {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
