* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    to top right,
    hsl(240, 73%, 65%),
    hsl(273, 75%, 66%)
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  margin: 10rem auto;
  display: flex;
  justify-content: flex-end;
  border-radius: 2rem;
  background-color: #fff;
  position: relative;

  width: 80rem;
  height: 45rem;
}

.img-container {
  position: relative;
  width: 40rem;
  overflow: hidden;
}

.bg-pattern {
  position: absolute;
  width: 200%;
  left: -46rem;
  top: -25rem;
}

.bg-pattern-mobile {
  display: none;
}

.woman-img {
  position: absolute;
  width: 100%;
  left: -6rem;
  top: 5rem;
}

.woman-img-mobile {
  display: none;
}

.box-img {
  position: absolute;
  left: -10rem;
  top: 15rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 4rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.5rem;
  color: hsl(237, 12%, 33%);
  width: 40rem;
}

.faq-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  cursor: pointer;
}

.accordion-btn {
  display: block;
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  border: none;
  align-content: center;
}

.icon-arrow {
  width: 10px;
  height: 7px;
}

.info {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.info-text {
  display: none;
  margin-top: 1rem;
  color: hsl(240, 6%, 50%);
}

.active {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .card {
    flex-direction: column;
    width: 40rem;
    height: 50rem;
  }

  .img-container {
    display: none;
  }

  .bg-pattern {
    display: none;
  }

  .woman-img {
    display: none;
  }

  .box-img {
    display: none;
  }

  .bg-pattern-mobile {
    display: block;
    position: absolute;
    top: 0rem;
    left: 7rem;
    width: 60%;
  }

  .woman-img-mobile {
    display: block;
    position: absolute;
    width: 60%;
    top: -9.5rem;
    left: 7rem;
  }

  .accordion {
    width: 40rem;
  }

  .faq-heading {
    text-align: center;
    padding-top: 3rem;
  }
} ;
