* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(240, 73%, 65%);
}

.card {
  margin: 10rem auto;
  display: flex;
  justify-content: flex-end;
  border-radius: 2rem;
  background-color: #fff;
  position: relative;

  width: 80rem;
}

.img-container {
  position: relative;
  width: 40rem;
  overflow: hidden;
}

.bg-pattern {
  position: absolute;
  width: 200%;
  left: -46rem;
  top: -25rem;
}

.woman-img {
  position: absolute;
  width: 100%;
  left: -6rem;
  top: 5rem;
}

.box-img {
  position: absolute;
  left: -10rem;
  top: 15rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 4rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.5rem;
  color: hsl(237, 12%, 33%);
  width: 40rem;
}

.faq-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  cursor: pointer;
}

.accordion-btn {
  background-color: #fff;
  text-decoration: none;
  color: inherit;
  border: none;
  align-content: center;
}

.icon-arrow {
  width: 10px;
  height: 7px;
}

.info {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.info-text {
  display: none;
  margin-top: 1rem;
  color: hsl(240, 6%, 50%);
}

.active {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
